@page "/about"

@if (isDataLoaded)
{
<div id="@aboutId" class="about-container">
    <header>
        <div class="module-title">
            <div class='title'>ABOUT</div>
            <div class='underline'></div>
        </div>
    </header>
    <p>
            Joseph Chamakala is a verified CPA, licensed to practice in the state of Illinois. 
            The requirements for licensure in Illinois ensure that Joseph Chamakala maintains the 
            highest standard of knowledge and ethics when operating as an accountant. 
            CPAs may practice as a public accountant, work in private industry, 
            education or government, and are often considered experts in tax preparation. 
            Their overall educational requirements and training in business and knowledge 
            in principles of general law and taxation provide CPAs with the skills to help 
            individuals with both personal and business financial decisions.
    </p>
    <div class='list-heading'>Find me here</div>
    <div class='about-component'>
        <div class='control-item'>
            <span class="sfimage-schedule e-sb-icon control-icon"></span>
                <a class='control-name' href="https://cpadirectory.com/certified-public-accountants/illinois/arlington-heights-il/joseph-chamakala/803440" target="_blank">CPA Directory</a>
        </div>    
    </div>
</div>
}
else
{
    <div class="about-container">
        <div class="module-title">
            <SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Height="15px" Width="20%"></SfSkeleton>
            <br/>
        </div>
        <div class="about-descrip-skeleton">
            <SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Height="15px" Width="97%"></SfSkeleton>
            <br/>
            <SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Height="15px" Width="74%"></SfSkeleton>
        </div>
        <br/>
        <div class="about-component">
            @for(int i=0; i<14; i++){
            <div class="control-item">
                <span>
                    <SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Height="15px" Width="75%"></SfSkeleton>
                </span>
            </div>
            }
        </div>
    </div>
}

@code {
    private bool isDataLoaded;
    private string aboutId;

    private async void LoadData()
    {
        this.aboutId = "about";
        await Task.Delay(100);
        isDataLoaded = true;
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            LoadData();
        }
    }
}